# Python cache
__pycache__/
*.py[cod]

# Environments & Packages
venv/
.venv/
.egg-info/

# Secret configuration keys
.env

# Local development databases
*.db
*.sqlite3

backend/app/services/*.txt

# to ignore all log files explicitly
*.log

# to ignore specific log directories if your app uses them
logs/
log/

# Ignore system-specific or daemon logs
*.syslog
*.out
